.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ff7d4d;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foodItems {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  height: 100%;
  width: 90%;
  border-radius: 15px;
  padding-bottom: 50px;
}

#sort_FormDiv {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 20px;
}

#sort_Form {
  display: flex;
  width: auto;
}

#sort_Form select {
  margin-bottom: 30px;
  margin-left: 10px;
}

.menuItem {
  border: none;
  padding: 10px;
}
.dishImgBox {
  width: 150px;
  height: 160px;
  margin: 0 auto -60px auto;
}

.dishImg {
  border-radius: 10px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.dishDetails {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  background-color: #fff;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 8px 5px #e5e4e2;
  -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
  color: #36454f;
  overflow: hidden;
}

.isClicked_ {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 0 8px 5px #e5e4e2;
  -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
  color: #fff;
  background-color: #ffac1c;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  overflow: hidden;
  height: auto;
  padding-top: 20px;
}

.brand {
  text-align: left;
}

.dishDetails:hover {
  background-color: #ffac1c;
  color: #fff;
  cursor: pointer;
}

.isClicked_:hover {
  background-color: #ffac1c;
  color: #fff;
  cursor: pointer;
}

.dishDetails:hover .addCart,
.cartIconAll,
.isClicked_:hover .addCart,
.cartIconAll {
  color: #fff;
  overflow: visible;
}

.label {
  text-align: center;
  font-size: 13px;
  color: #708090;
  font-weight: 600;
  opacity: 0.9;
  overflow: visible;
}

._label_ {
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  opacity: 0.9;
  overflow: visible;
}

.dishDetails:hover .brand,
.isClicked_:hover .brand {
  font-weight: 600;
  overflow: hidden;
}

.prices {
  text-align: center;
  margin: 0 auto 0 auto;
  overflow: visible;
}

.itemRatings {
  height: auto;
  overflow: hidden;
}

.dishDetails:hover .itemRatings span,
.isClicked_:hover .itemRatings span {
  overflow: hidden;
}

.dishDetails:hover #addCart {
  color: #fff;
}

.addCart {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #ffac1c;
  display: flex;
  align-content: center;
  height: 50px;
  overflow: visible;
}

._addCart__ {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-content: center;
  height: 50px;
  overflow: visible;
}

.addCart span,
._addCart__ span {
  margin-bottom: 2px;
  overflow: visible;
}

.dishDetails:hover .cartIconAll {
  color: #fff;
}

.cartIconAll {
  color: #ffac1c;
  font-size: 22px;
  margin-top: -10px;
  margin-left: 10px;
}

._cartIconAll_ {
  color: #fff;
  font-size: 22px;
  margin-top: -10px;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .foodItems {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
    height: 100%;
    width: 90%;
    border-radius: 15px;
    padding-bottom: 50px;
  }
}
