#foodLogoHome {
  height: 50px;
  display: flex;
  align-content: center;
  width: 200px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 7px;
  margin-right: 25vw;
  margin-left: 10px;
}

#foodMintHome {
  width: auto;
  overflow: visible;
}

#foodHome {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

#mintHome {
  font-size: 22px;
  color: #ff7d4d;
  font-weight: 700;
}

#foodLogoHome img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: visible;
}

#navbarDropdown {
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  overflow: visible;
  height: 0;
}

#menuToggle {
  display: block;
  position: relative;
  top: -50px;
  left: 83vw;
  z-index: 1;
  overflow: visible;
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: -120px;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -36px;
  padding: 50px;
  padding-top: 125px;
  height: auto;
  background: #ededed;
  list-style-type: none;
  overflow: visible;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: translate(-50%, 0);
}

@media screen and (min-width: 1024px) {
  #menuToggle {
    display: none;
  }
}
