#menuHome {
  position: relative;
  top: 200px;
  animation: menuSlide 2s ease 1 forwards;
  margin: 0 auto;
}

@keyframes menuSlide {
  0% {
    top: 200px;
  }

  100% {
    top: 50px;
  }
}

#menuHome button {
  color: #ff7d4d;
  border-radius: 5px;
  display: block;
  height: auto;
  width: auto;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 5px 20px;
  border: 2px solid #ff7d4d;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 30px;
}

#menuHome h3 {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.categoryContainer__ {
  padding: 10px;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 90vw;
  margin: 20px auto 80px auto;
}

._img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.categoryItem_ {
  height: auto;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 8px 5px #e5e4e2;
  -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.categoryItem_:hover {
  background-color: #ff7d4d;
}

._categoryLink {
  height: auto;
  width: auto;
  display: flex;
  justify-items: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

._categoryLink:hover {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 480px) {
  #menuHome {
    margin: 0 auto;
    position: relative;
    width: 100vw;
    top: 40px;
    animation: menuSlide 2s ease 1 forwards;
    margin-bottom: -120px;
  }
  @keyframes menuSlide {
    0% {
      top: 40px;
    }

    100% {
      top: -80px;
    }
  }

  #menuHome h3 {
    font-size: 20px;
    font-weight: 700;
  }

  #menuHome button {
    color: #ff7d4d;
    border-radius: 5px;
    display: block;
    height: auto;
    width: auto;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    padding: 5px 20px;
    border: 2px solid #ff7d4d;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .categoryContainer__ {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    width: 100vw;
    margin: 20px auto 80px auto;
  }

  .categoryItem_ {
    margin-bottom: 10px;
    height: auto;
    width: 140px;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px #e5e4e2;
    -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
    transition: background-color 0.5s ease;
    overflow: visible;
    padding-right: 10px;
  }

  ._categoryLink {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #000;

    overflow: visible;
  }
  ._img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  ._span_label {
    font-size: 13px;
    font-weight: 700;
  }
}
