.popularNallBar {
  display: flex;
  width: 80vw;
  margin: 0 auto 30px auto;
  color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.popular {
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  padding: 8px 10px;
  border: none;
  box-shadow: 0 0 8px 5px #e5e4e2;
  -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
  color: #000;
  background: #fff;
  width: auto;
}

.viewAll {
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  padding: 8px;
  border: none;
  box-shadow: 0 0 8px 5px #e5e4e2;
  -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
  transition: background-color 0.5s ease-in-out 0s;
  background: #fff;
  width: 180px;
}

.menuLink {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-weight: 700;
}

.menuLink:hover {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 480px) {
  .popularNallBar {
    display: flex;
    width: 100vw;
    margin: 0 auto 30px auto;
    color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 40px;
  }

  .popular {
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    padding: 5px 5px;
    border: none;
    box-shadow: 0 0 8px 5px #e5e4e2;
    -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
    color: #000;
    background: #fff;
    width: 120px;
    margin-right: 10px;
  }

  .viewAll {
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    border: none;
    box-shadow: 0 0 8px 5px #e5e4e2;
    -webkit-box-shadow: 0 0 8px 5px #e5e4e2;
    transition: background-color 0.5s ease-in-out 0s;
    background: #fff;
    height: auto;
    width: auto;
  }

  .menuLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
  }

  .menuLink:hover {
    text-decoration: none;
    color: #000;
  }
}
